
section{
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 400px;
    box-shadow: -3px -3px 3px cyan, 3px 3px 3px gray;
    border-radius: 10px;
    transition: 1s;
}

.rotate:hover{
    transform: rotate(45deg);
}
.rotateX:hover{
    transform: rotateX(180deg);
}
.rotateY:hover{
    transform: rotateY(180deg);
}